
html, body {
    background-color: lavenderblush;
    font-family: monospace;
}
.navbar {
    float: right;
    text-align: center;
    margin: 30px;
}

.nav-item-left {
    float: left;
}
.navbar a {
    padding-left: 20px;
    color: black;
}

    .navbar a:hover {
        padding-left: 20px;
        text-decoration: none;
        color: rgb(128, 128, 128);
    }