
    @import url('https://fonts.google.com/?category=Sans+Serif,Monospace');
    @import url('https://fonts.google.com/specimen/Caveat?category=Handwriting');
    html body {
        background-color: lavenderblush;
        font-family: 'Caveat', Bold 700;
        margin: 30px;
    }

/* navbar styling */
    ul {
        list-style-type: none;
        margin: 30;
    }
  
    li {
        float: right;
    }
    
    li a {
        color: black;
        text-align: center;
        padding-right: 40px;
    }

    li a:hover {
        text-decoration: none;
    }