
    html body {
        background-color: lavenderblush;
        font-family: 'Anton', sans-serif;
        margin: 30px;
    }

/* navbar styling */
    ul {
        list-style-type: none;
        margin: 30;
    }
  
    li {
        float: right;
    }
    
    li a {
        color: black;
        text-align: center;
        padding-right: 40px;
    }

    li a:hover {
        text-decoration: none;
    }